{% extends 'base.html.twig' %}
{% block body %}
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie aliquet finibus. Nunc mollis eros et condimentum tincidunt. Nullam porttitor dictum ullamcorper.
    Nunc sed suscipit ex, pretium congue risus. Fusce rutrum porttitor feugiat. Vivamus felis est, sagittis at eleifend quis, cursus ac urna. Fusce turpis nunc, eleifend sit amet mauris eu, auctor suscipit nisl.
    In eget aliquam lectus. Nulla egestas nisi eget bibendum mattis. Vivamus tempor est id diam dapibus, a maximus purus commodo. Nunc sagittis erat magna, ac imperdiet orci consequat ac. 
    Pellentesque consectetur hendrerit orci. Aenean nisl sem, volutpat non velit non, pretium accumsan tellus. Proin lorem ipsum, suscipit id tortor eget, varius auctor diam. Duis urna neque, 
    vestibulum sed sollicitudin sit amet, laoreet vel nisi. Vivamus non metus turpis. Aliquam id ante augue. Integer odio leo, elementum vitae pellentesque malesuada, tincidunt in ante. Fusce volutpat 
    justo ac libero tincidunt, ut ultricies arcu facilisis. Donec non massa ac dui pretium tempor. Pellentesque blandit sapien id nulla laoreet, sit amet auctor enim eleifend. Nam sit amet augue orci. In hac habitasse platea dictumst. </p>
    <span class="test">test</span>
{% endblock %}