{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}
{# set dynamic title and h1 #}
{% block body %}
<h1>Accueil</h1>
<div class="block">
    <h2>Mon espace personnel</h2>
    <p></p>
</div>
{% endblock %}