{% extends 'base.html.twig' %}

{% block title %}Page d'accueil {{ parent() }}{% endblock %}

{% block body %}
<h1>Accueil</h1>
<div class="block">
    <h2>Mon espace personnel</h2>
    <p></p>
</div>
{% endblock %}