{% extends 'base.html.twig' %}

{% block body %}
<section id="wrapper" class="pure-g">
	<nav class="pure-u-1 pure-u-md-1-4">
		<img class="pure-img logo" src="{{ asset('build/images/logo.png') }}"/>
		{% block navigation %}{% endblock %}
	</nav>
	<section id="content" class="pure-u-1 pure-u-md-3-4">
		{% block content %}{% endblock %}
	</section>
</section>
{% endblock %}