{% extends 'layout.html.twig' %}
{% block body %}
<body class="antialiased text-sm text-zinc-700 dark:text-white">
    <section id="wrapper" class="flex flex-no-wrap w-full h-screen">
        
    </section>
</body>
{% endblock %}