@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$bgColor: #529972;
$menuColor: #416652;
$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #dd2a7b;
$youtube: #ff0000;
$discord: #8b9eff;
$github: #161b22;
