<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ current_page.page_title }} - nyuw.dev{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="antialiased text-sm text-gray-800">
		<section id="wrapper" class="flex flex-no-wrap w-full h-screen">
            {% include 'menu.html.twig' %}
			<section id="content-wrapper" class="w-full h-screen overflow-y-hidden md:py-10 md:px-6 p-4 bg-aqua-forest">
                <button class="md:hidden text-left mb-4 text-2xl text-white" id="display-sidebar">
                    <i class="fa-solid fa-bars-staggered"></i>
                </button>
                <div id="content" class="bg-white p-4">
                    <h1>{{ current_page.page_head_title }}</h1>
                    {% block body %}{% endblock %}
                </div>
			</section>
		</section>
    </body>
</html>
